
a {
    text-decoration: none;
}
html {
    font-size: 62.5%;
    body{
        font-size: 1.6rem;
        /* font-family: "Hind", sans-serif; */
        font-family: NanumBarunGothicOTF;
        color: #2e3946;
        /* background-color: #ECF0F1; */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        .cd-main-content{
            width: 80%;
            max-width: 1100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }
    
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

